body{
    margin: 0px;
    padding: 0px;
    color: aliceblue;
}

header{
    display: flex;
    background-color: red;
    min-height: 100px;   
}

main{
    min-height: 700px;
}

footer{
    background-color: grey;
    min-height: 300px;
}

.tlacitka{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    gap: 20px;
    height: 100px;
    width: 1600px;
}

.tlacitka a{
    text-decoration: none;
    color: black;
    font-size: x-large;
}

.logo img{
    display: flex;
    max-width: 150px;
    justify-content: flex-start;
    align-items:center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

.obrazky img{
    width: 35px; 
}

.obrazky{
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 50px;
}

.odkazy{
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: x-large;
}

.konec{
    display: flex;
    justify-content: center;
    margin: 50px;
}

.konec a{
    text-decoration: none;
    color:aliceblue;
    font-size: xx-large;
}