body{
    margin: 0px;
    padding: 0px;
    color: aliceblue;
}

header{
    display: flex;
    background-color: red;
    min-height: 100px;   
}

main{
    min-height: 500px;
}

footer{
    background-color: rgb(48, 48, 48);
    min-height: 480px;
}

.tlacitka{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    gap: 20px;
    height: 100px;
    width: 1600px;
}

.tlacitka a{
    text-decoration: none;
    color: black;
    font-size: x-large;
}

.logo img{
    display: flex;
    max-width: 150px;
    justify-content: flex-start;
    align-items:center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

.obrazky img{
    width: 35px;
}

svg{
    transition: 0.5s ease;
}

svg:hover{
    fill: rgb(218, 27, 27);
}

.obrazky{
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 50px;
}

.kontakt ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    padding-left: 300px;
    font-size: larger;
    align-items:flex-start ;
    height: 100%;
    justify-content: flex-start;
    margin-right: 100px;

}

.doba ul{
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    gap: 2px;
    padding-right: 250px;
    font-size: larger;
}

.konec{
    display: flex;
    justify-content: center;
}

.kontakt h1{
    display: flex;
    padding-left: 310px;
}
